:root {
  --color-primary: #f0f0f0;
  --color-red: #ff0000;
  --color-magenta: #ff00ff;
  --color-blue: #0000ff;
  --color-green: #00ff00;
  --color-text: #333;
  --color-text-hover: red;
  --spacing-small: 0.3rem;
  --spacing-medium: 0.5rem;
  --spacing-large: 1rem;
  --font-size-small: 0.8rem;
  --font-size-medium: 0.9rem;
  --font-size-large: 1.1rem;
}

* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: var(--color-primary);
  padding: var(--spacing-medium);
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  align-items: center; 

}

header h1 {
  margin: 0;
  font-size: 1.3rem;
  grid-column: 2;
  text-align: center;
}

.language-selector {
  grid-column: 3;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.search-container {
  grid-column: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#search-input {
  padding: 0.3rem;
  border-radius: 5px;
  border: 1px solid #ccc;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  margin: 1rem;
}

.quadrant {
  background-color: var(--color-primary);
  border-radius: 5px;
  padding: 1rem;
  min-height: 270px;
  max-height: 270px;
  border-width: 1px;
  border-style: solid;
  overflow-y: auto;
}

.quadrant h2 {
  margin: 0 0 1rem 0;
  font-size: 1.1rem;
  position: sticky;
  top: 0;
  background-color: var(--color-primary);
  z-index: 1;
}

#q11 {
  border-color: var(--color-red);
}

#q12 {
  border-color: var(--color-magenta);
}

#q21 {
  border-color: var(--color-blue);
}

#q22 {
  border-color: var(--color-green);
}

.task {
  background-color: #fff;
  border-radius: 5px;
  padding: 0.3rem;
  margin-bottom: 0.3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.9rem;
}

.task:hover {
  background-color: rgb(246, 255, 239);
}

.delete-task {
  background-color: transparent;
  border: none;
  color: var(--color-text);
  font-size: var(--font-size-medium);
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.delete-task:hover {
  color: var(--color-text-hover);
}

.task:hover .delete-task {
  opacity: 1;
}

footer {
  background-color: var(--color-primary);
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  align-items: center; 
  gap: 0.5rem;
}

footer label,
footer input,
footer select,
footer button {
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
}

footer input {
  padding: 0.3rem;
}

footer select {
  padding: 0.3rem;
}

footer button {
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 0.3rem;
  cursor: pointer;
}

footer button:hover {
  background-color: #555;
}

.task-form {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column: 2;
}


.drag-over {
  background-color: rgba(0, 0, 0, 0.1);
}

.dark-mode-toggle {
  grid-column: 3;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.dark-mode-toggle input {
  display: none;
}

.dark-mode-toggle label {
  cursor: pointer;
  font-size: 0.8rem;
}

body.dark-mode {
  background-color: #222;
  color: var(--color-primary);
}

.dark-mode header,
.dark-mode footer,
.dark-mode .quadrant {
  background-color: #333;
}

.dark-mode .task {
  background-color: #444;
}

.dark-mode .task:hover {
  background-color: #555;
}

.dark-mode .quadrant h2 {
  background-color: #333;
}

.quadrant::-webkit-scrollbar {
  display: none;
}

@media (max-width: 768px) {
  header {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    place-items: center;
  }

  header h1 {
    grid-column: 1;
    grid-row: 1;
    text-align: left;
  }

  .language-selector {
    grid-column: 1;
    grid-row: 2;
    justify-content: flex-start;
  }

  .search-container {
    grid-column: 1;
    grid-row: 3;
    justify-content: flex-start;
  }

  main {
    grid-template-columns: 1fr;
    margin: 1rem 0.5rem;
  }

  footer {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    gap: 0.5rem;
    place-items: center;
  }

 .task-form {
    grid-column: 1;
    grid-row: 2;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    gap: 0.5rem;
    align-items: center;
  }

  .task-form input {
    grid-row: 1;
    grid-column: 1;
  }

  .task-form select {
    grid-row: 2;
  }

  .task-form button {
    grid-row: 2;
    grid-column: 3;
  }

  footer label,
  footer input,
  footer select,
  footer button {
    margin-bottom: 0.5rem;
    max-width: 100%;
  }

  .dark-mode-toggle {
    grid-column: 1;
    grid-row: 3;
    justify-content: flex-start;
  }
  
}
